.top {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  align-items: center;
  font-family: sans-serif;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100vh;
}
.topListItem {
  font-size: 20px;
  margin-left: 20px;
  font-weight: 300;
  cursor: pointer;
}

.topSaparator {
  width: 100%;
  height: 0.5px;
  background-color: black;
}

.topSearchIcon:hover,
.topListItem:hover {
  box-shadow: rgba(255, 0, 0, 0.1) 0px 1px 0px;
}
